/* TABLET */

@media screen and (max-width: 768px) {

.container{
    max-width: 100vw;
}

h1{
    font-size: 1.8rem;
}

h2{
    font-size: 1.5rem;
}

h3{
    font-size: 1.2rem;
}
  
}


/* MOBILE */

@media screen and (max-width: 480px) {
    
}
